body, html, textarea {
  font-family: 'Lucida Grande', Arial, Helvetica;
  font-size: 13px;
  overflow: hidden;
}

#header { 
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 40px;
  background: #ccc;
  background:-webkit-gradient(linear,0% 0%,0% 45%,from(#eee),to(#ccc));
  background:-moz-linear-gradient(45% 45% 90deg,#ccc,#eee);
  text-shadow: #eee 1px 1px 0px;
  padding: 12px;
}

#header #hide-console {
  float: right;
  font-size: 13px;
  position: relative;
  top: -3px;
  right: -4px;
}

#body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  bottom: 0px;
  background: #ccc;
}

#chat {
  position: absolute;
  left: 250px;
  top: 0px;
  bottom: 0px;
  right: 350px;
}

#chat #thread {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 36px;
  overflow: auto;
  margin: 5px 5px 0px 5px;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #999;
}

#composer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35px;
}

#composer .input {
  position: absolute;
  left: 5px;
  right: 65px;
  top: 5px;
  bottom: 11px;
}

#composer .send {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 50px;
}

#composer .send button {
  font-size: 14px;
  position: relative;
  height: 100%;
  width: 100%;
}

#composer .input textarea {
  font-size: 14px;
  position: relative;
  height: 100%;
  width: 100%;
}

#thread .message {
  float: left;
  width: 100%;
  padding: 10px 10px 0px 10px;
  position: relative;
  right: 20px;
  word-wrap: break-word;
  border-bottom: 1px solid #ddd;
}

#thread .message .body {
  display: block;
  clear: both;
  position: relative;
  top: -16px;
  padding-left: 50px;
}

#thread .message .from {
  color: #999;
  padding-left: 20px;
}

#roster {
  position: absolute;
  left: 0px;
  width: 243px;
  top: 0px;
  bottom: 5px;
  margin: 5px 5px 0px 5px;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #999;
}

#roster .options .around {
  padding: 5px;
}

#roster .items {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#roster .item {
  border-bottom: 1px solid #666;
  padding: 10px;
  cursor: pointer;
}

#roster .item .status {
  font-size: .86em;
  padding-left: 5px;
}

#roster .item .show {
  float: right;
}

.selected {
  color: white;
  background: rgb(41, 105, 182);
  background:-webkit-gradient(linear,0% 0%,0% 45%,from(rgb(112, 164, 218)),to(rgb(41, 105, 182)));
  background:-moz-linear-gradient(45% 45% 90deg,rgb(41, 105, 182), rgb(112, 164, 218));
}

#console {
  position: absolute;
  right: 0px;
  width: 343px;
  top: 0px;
  bottom: 5px;
  margin: 5px 5px 0px 5px;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #999;
}

#console .stanzas {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#console .stanzas pre {
  font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size: 12px;
  padding: 5px;
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

#console .stanzas pre:nth-child(even) {
  background-color: #eee;
}

#console .stanzas .incoming {
  color: rgb(2, 102, 198);
}

#console .stanzas .outgoing {
  color: rgb(203, 2, 2);
}

#console .options .around {
  padding: 10px;
}

.options {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 35px;
  color: white;
  border-bottom: 1px solid #222;
  background: rgb(58, 58, 58);
  background:-webkit-gradient(linear,0% 0%,0% 45%,from(rgb(114, 114, 114)),to(rgb(58, 58, 58)));
  background:-moz-linear-gradient(45% 45% 90deg,rgb(58, 58, 58),rgb(114, 114, 114));
}

.options button {
  color: white;
  background: rgb(58, 58, 58);
  background:-webkit-gradient(linear,0% 0%,0% 45%,from(rgb(144, 144, 144)),to(rgb(58, 58, 58)));
  background:-moz-linear-gradient(45% 45% 90deg,rgb(58, 58, 58),rgb(144, 144, 144));
  border-color: #888;
}

#console .options span {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#console .options .outgoing {
  background-color: #D23737;
  border: 1px solid #851D00;
  padding: 2px;
}

#console .options .incoming {
  background-color: #379FD2;
  border: 1px solid blue;
  padding: 2px;
}

.wrapper {
  position: absolute;
  top: 36px;
  bottom: 0px;
  width: 100%;
}

.popup {
  opacity: 0;
  position: absolute;
  color: white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: rgb(58, 58, 58);
  background:-webkit-gradient(linear,0% 0%,0% 45%,from(rgb(144, 144, 144)),to(rgb(58, 58, 58)));
  background:-moz-linear-gradient(45% 45% 90deg,rgb(58, 58, 58),rgb(144, 144, 144));
  z-index: -1;
  padding: 7px;
  border: 1px solid #666;
}

.popup table, .popup .body {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #444;
  background: #fff;
  color: black;
}

.popup .body label {
  clear: both;
  display: block;
  padding: 5px;
  cursor: pointer;
}

.popup .body label:nth-child(even) {
  background-color: #eee;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;
}

.arrow.border {
  border-color: transparent #666 transparent transparent;
  left: -21px;
}

.arrow {
  border-color: transparent #525252 transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
}

.arrow.top {
  top: 15px;
}

.arrow.bottom {
  bottom: 15px;
}

button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 12px;
  color: #fff;
  text-shadow: #333 1px 1px 1px;
  background: #666;
  background:-webkit-gradient(linear,0% 0%,0% 45%,from(#aaa),to(#666));
  background:-moz-linear-gradient(45% 45% 90deg,#666, #aaa);
  border: 1px solid #666;
  cursor: pointer;
  height: 25px;
}

button:active {
  color: #fff;
  background: rgb(34, 34, 34);
  background:-webkit-gradient(linear,0% 0%,0% 45%,from(rgb(34, 34, 34)),to(rgb(78, 78, 78)));
  background:-moz-linear-gradient(45% 45% 90deg,rgb(78, 78, 78),rgb(34, 34, 34));
  border: 1px solid #999;
}

textarea {
  resize: none;
  outline: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #999;
  background-color: #fff;
}
