<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
  <meta name="generator" content="JsDoc Toolkit" />

  <title>JsDoc Reference - XC</title>
  <link rel="stylesheet" type="text/css" href="static/default.css"></link>
  <link rel="stylesheet" type="text/css" href="static/doc.css"></link>
</head>

<body class="doc">
  <div id="header">
    <h1>XC</h1>
    <span class="caption">XMPP Client Library</span>
  </div>
  <div id="module">
    <h1>About</h1>
  </div>
	<div id="index">
		{+publish.classesIndex+}
	</div>
  <div id="content">
    <br/>
    <p>The XC Library is an <a href="http://xmpp.org/rfcs/rfc3920.html">RFC 3920</a> and <a href="http://xmpp.org/rfcs/rfc3921.html">RFC 3921</a> compliant XMPP Client library for JavaScript. In addition to the XMPP Core and XMPP IM specs, we also implement <a href="http://xmpp.org/extensions/xep-0030.html">Service Discovery</a>, <a href="http://xmpp.org/extensions/xep-0085.html">Chat State Notifications</a>, <a href="http://xmpp.org/extensions/xep-0054.html">vcard-temp</a>, <a href="http://xmpp.org/extensions/xep-0203.html">Delayed Delivery</a>, and <a href="http://xmpp.org/extensions/xep-0144.html">Roster Item Exchange</a>.</p>
<h1>Overview</h1>
<p>This library is <b>NOT</b> a client side BOSH implementation. Use a BOSH JavaScript implementation like <a href="http://code.stanziq.com/strophe/">Strophe</a> or <a href="http://blog.jwchat.org/jsjac/">JSJaC</a> as the underlying BOSH connection and XC to do everything else.</p>
<h1>Tests</h1>
<p>This library has been extensively tested. If you find any bugs, and would like to contribute, write a test making the condition fail, then fix the offending code. We're happy to have any contributors to the project.</p>

<p>XC has been tested (and has all tests passing) on the following platforms:</p>

<ul>
  <li>FireFox 3.6, 4.0b</li>
  <li>Chrome 6 +</li>
  <li>Safari 5</li>
  <li>IE 8</li>
  <li>Opera 10</li>
</ul>

<h1>Examples</h1>
<p>For the examples to work properly they must be served from same domain as the bosh resource they are trying to connect to in order to avoid cross domain issues. If you're using Apache, this means adding:</p>

<p class="code"><code>
    ProxyPass /http-bind http://location/to/your/bosh/http-bind<br/>
    ProxyPassReverse /http-bind http://location/to/your/bosh/http-bind
</code></p>
<p>to your .conf file, and restarting Apache. If you go to http://localhost/http-bind, you should see something like "You really don't look like a BOSH client to me... what do you want?". Now, start up the example on your localhost, and check it out!</p>
  </div>

  <div class="fineprint" style="clear:both">
    <if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br/></if>
      Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
  </div>
</body>
</html>
